.card {
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
body {
    background-color:gray; 
    margin: 0;
    height: 100vh;

    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
}   

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 16px;
    border: none;
}
